[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest.git
[submodule "assignment-1-MuktaDarekar"]
	path = assignment-1-MuktaDarekar
	url = https://github.com/cu-ecen-aeld/assignment-1-MuktaDarekar
